* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fascinate", cursive;
}

h2 {
  font-family: "Fascinate", cursive;
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
form {
  display: block;
  position: relative;
  margin: 20px;
  padding: 10px;
}

.form-color {
  background-image: linear-gradient(
    to bottom right,
    #045ded,
    #ff4df0,
    #70ffdf,
    #1d269b,
    white#9d4dff border-box: 2px;
  );
}
